.Gemfile
.byebug_history
.ruby-version
/*/doc/
/*/test/tmp/
/.bundle
/dist/
/guides/output/
debug.log
node_modules/
package-lock.json
pkg/
/yarn-error.log
/test-reports/


/.bundle

# Ignore all logfiles and tempfiles.
/tmp/
/log/
.keep

/node_modules
/yarn-error.log

.byebug_history